@import "tailwindcss";
@theme {
  ---color-surface: #222831;
  --color-on-surface: #1e1e1e;
  --color-primary: #00adb5;
  --color-on-primary: #ffffff;
  --color-secondary: #393e46;
  --color-on-secondary: #eeeeee;

  /* Semantic Colors */
  --color-success: #22c55e;
  --color-warning: #f97316;
  --color-error: #ef4444;
  --animate-slide-to-left: slideToLeft 2s ease-in-out forwards paused;
  @keyframes slideToLeft {
    0% {
      left: 0%;
    }
    100% {
      left: -100%;
    }
  }
}
* {
  outline: none;
  list-style: none;
}
body {
  height: 100vh;
  margin: 0;
  background-color: var(---color-surface);
  font-family: "Roboto", sans-serif;
}
