/**
 *? => Maybe add more colors to the white theme ?
 *TODO => Add more animations 
paused
 */

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --text-tiny: 1.2rem;
  /* main colors*/
  --color-primary: #00c6d7;
  /* Dark theme colors*/
  --color-surface: #222831;
  --color-on-surface: #1e1e1e;
  --color-on-primary: #ffffff;
  --color-secondary: #393e46;
  --color-on-secondary: #eeeeee;
  /* light theme colors*/

  /* Semantic Colors */
  --color-success: #22c55e;
  --color-warning: #f97316;
  --color-error: #ef4444;
  --animate-slide-from-right: slideFromRight 0.5s ease-in-out forwards;
  --animate-slide-to-left: slideToLeft 0.5s ease-in-out 0.6s forwards;
  --animate-scroll: scrolls 40s linear infinite;
  @keyframes slideFromRight {
    0% {
      left: 0%;
    }
    100% {
      display: none;
      left: -100%;
    }
  }
  @keyframes slideToLeft {
    0% {
      left: 110%;
    }
    100% {
      left: 0%;
      position: relative;
    }
  }
  @keyframes scrolls {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-256px * 10));
    }
  }
}
* {
  outline: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--color-surface);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
html.light body {
  background-color: white;
}
