@import "tailwindcss";
@theme {
  --color-background: #222831;
  --color-secondary-background: #393e46;
  --color-accent: #00adb5;
  --color-light: #eeeeee;
  --color-textColor: white;

  /* Semantic Colors */
  --color-success: #22c55e;
  --color-warning: #f97316;
  --color-error: #ef4444;
}
* {
  outline: none;
  list-style: none;
}
body {
  margin: 0;
  background-color: var(--color-background);
  font-family: "Roboto", sans-serif;
}
